<ion-header>

  <ion-navbar>
    <ion-title>我的微博</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<ion-list>
	  <ion-item *ngFor="let item of lists, let i = index">
		  <ion-thumbnail item-start>
	      <img *ngIf="item.images.length > 0" src="{{ item.images[0] }}">
	      <img *ngIf="item.images.length == 0" src="assets/imgs/avatar.png">
	    </ion-thumbnail>
	    <h2>{{ item.title }}</h2>
	    <p>发布日期：{{ item.addtime }}</p>
	    <button ion-button clear item-end (click)="info(item)">查看</button>
	  </ion-item>

	</ion-list>
</ion-content>
